.portifolio {
    padding: 60px 20px;
    background-color: #051341;
    text-align: center;
}

.portifolio h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 40px;
}

.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.galeria img {
    max-width: 80%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
